@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Quicksand:wght@400;500;700&display=swap');

* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;;
}

.container{
    width: 1140px;
    margin: auto auto;
}
.nav-brand img{
    margin-top: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.nav-item{
    display: flex;
    align-items: center;
}

.nav-links{
    display: flex;
}

.nav-links li{
    margin-right:  48px;
    list-style: none;
}

.nav-links a{
    color: #242424;
    text-decoration: none;
}

.nav-link.active{
    font-weight: 600;
    border-bottom: 3px solid #2356D9;
}

.btn-secondary{
    border: 2px solid #2356D9;
    color: #2356D9;
    padding: 9px 19px;
    border-radius: 50px;
}

.btn-secondary:hover{
    color: #fff;
    background-color: #2356D9;
    padding: 9px 19px;
    border-radius: 50px;
}

.hero-heading{
    margin-top: 230px;
}

.hero-heading h1{
    font-size: 48px;
    width: 60%;
    margin-bottom: 24px;
}

.hero-heading p{
    font-size: 20px;
    width: 50%;
    margin-bottom: 24px;
    color: #535252;
}
.btn-primary{
    border: 3px solid #2356D9;
    background-color: #2356D9;
    color: #fff;
    padding: 18px 43px;
    border-radius: 50px;
    box-shadow: 0 10px 20px #dad8d8;
    font-weight: 500;
}

.hero{
    display: flex;
}

.hero-ilus{
margin-top: 110px;
position: relative;
}

.hero-ilus img{
right: 0;
position: absolute;
}

img.play{
    position: absolute;
    right: 380px;
    bottom: -100px;
}

.interes{
    width: 992px;
    margin-top: 350px;
    margin-left: auto ;
    margin-right: auto;
    background-color: #2356D9;
    border-radius: 25px;
    box-shadow: 0 10px 20px #b5b2b2;
}

.row-4-col {
    display: flex;
    padding: 32px 155px;
    justify-content: space-between;
    text-align: center;
}

.col h4{
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}

.col p{
    font-size: 20px;
    color: rgb(197, 196, 196);
    margin-top: 20px;
}
.feature-one{
    display: flex;
    margin-top: 250px;
    justify-content: center;
}

.feature-two{
    display: flex;
    margin-top: 250px;
    justify-content: space-between;
}

.heading-ft-one{
    margin-top: 50px;
    margin-left: 150px;
}

.heading-ft-two{
    width: 50%;
    margin-top: 120px;
}

.heading-ft-two h1{
    font-size: 42px;
    line-height: 50px;
}
.heading-ft-one h1{
    font-size: 42px;
    line-height: 50px;
}

.heading-ft-two p{
    font-size: 20px;
    margin-top: 24px;
}

.heading-ft-one p{
    font-size: 20px;
    margin-top: 24px;
}

.reason{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 215px auto ;
}

.card-rs{
    background-color: #2356D9;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 17px ;
    margin-top: 32px;
    box-shadow: 0 5px 20px #d3d3d3;
}

.heading-reason h1{
    font-size: 42px;
    line-height: 50px;
}

.heading-reason h2{
    font-size: 35px;
    line-height: 35px;
    margin-left: 38px;
    color: #fff;
}

.rs-ilus{
    position: relative;
}

.rs-ilus img{
    position: absolute;
}

img.arrow{
    left: -70px;
    top: -200px;
}

.heading-price{
    text-align: center;
}

.heading-price h1{
    font-size: 40px;
}

.heading-price p{
    font-size: 20px;
    margin-top: 18px;
}

.card-price{
    margin-top: 84px;
    width: 250px;
    background-color: #2356D9;
    padding: 12px;
    margin-left: auto ;
    margin-right: auto;
}

.tittle-price{
    text-align: center;
    margin-bottom: 36px;
}

.tittle-price h2{
    font-size: 24px;
    color: #fff;
}

.tittle-price p{
    font-size: 20px;
    color: #fff;
}

.pricing{
    text-align: center;
    margin-bottom: 32px;
}

.pricing h1{
    font-size: 65px;
    color: #fff;
}

.pricing p{
    font-size: 20px;
    color: #fff;
}

.feature-list{
    margin-left: 20px;
}

.feature-list p{
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 4px;
}

.feature-list img{
    margin-right: 4px;
}

.btn-price{
    background-color: #2356D9;
    color: #fff;
    border: 3px solid #fff;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    margin-top: 36px;
    margin-left: 5px;
}

.btn-price:hover{
    background-color: #fff;
    color: #2356D9;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    margin-top: 36px;
    margin-left: 5px;
}